{% extends 'base.html.twig' %}

{% block body %}
    <h1>Promocao list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Descricao</th>
                <th>Datainicio</th>
                <th>Datafim</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for promocao in promocaos %}
            <tr>
                <td><a href="{{ path('promocao_show', { 'id': promocao.id }) }}">{{ promocao.id }}</a></td>
                <td>{{ promocao.nome }}</td>
                <td>{{ promocao.descricao }}</td>
                <td>{% if promocao.datainicio %}{{ promocao.datainicio|date('Y-m-d') }}{% endif %}</td>
                <td>{% if promocao.datafim %}{{ promocao.datafim|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('promocao_show', { 'id': promocao.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('promocao_edit', { 'id': promocao.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('promocao_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
