{% extends 'base.html.twig' %}

{% block body %}
    <h1>Promocao</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ promocao.id }}</td>
            </tr>
            <tr>
                <th>Nome</th>
                <td>{{ promocao.nome }}</td>
            </tr>
            <tr>
                <th>Descricao</th>
                <td>{{ promocao.descricao }}</td>
            </tr>
            <tr>
                <th>Datainicio</th>
                <td>{% if promocao.datainicio %}{{ promocao.datainicio|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Datafim</th>
                <td>{% if promocao.datafim %}{{ promocao.datafim|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('promocao_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('promocao_edit', { 'id': promocao.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
