{% extends 'base.html.twig' %}

{% block body %}
    <h1>Pagamento list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Quantidade</th>
                <th>Valor</th>
                <th>Datainicio</th>
                <th>Datafim</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pagamento in pagamentos %}
            <tr>
                <td><a href="{{ path('pagamento_show', { 'id': pagamento.id }) }}">{{ pagamento.id }}</a></td>
                <td>{{ pagamento.quantidade }}</td>
                <td>{{ pagamento.valor }}</td>
                <td>{% if pagamento.datainicio %}{{ pagamento.datainicio|date('Y-m-d') }}{% endif %}</td>
                <td>{% if pagamento.datafim %}{{ pagamento.datafim|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('pagamento_show', { 'id': pagamento.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('pagamento_edit', { 'id': pagamento.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('pagamento_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
