{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col s12">
                    <h2>Estados</h2>
                    <table class="hoverable bordered">
                        <thead>
                            <tr>
                                {# sorting of properties based on query components #}
                                <th>{{ knp_pagination_sortable(pagination, 'Id', 'a.id') }}</th>
                                <th{% if pagination.isSorted('a.nome') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Nome', 'a.nome') }}</th>
                                <th>{{ knp_pagination_sortable(pagination, 'UF', 'a.uf') }}</th>
                                <th>Ação</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for estado in pagination %}
                            <tr>
                                <td class="text-align-center"><a href="{{ path('estado_show', { 'id': estado.id }) }}">{{ estado.id }}</a></td>
                                <td>{{ estado.nome }}</td>
                                <td>{{ estado.uf }}</td>
                                <td>
                                    <a href="{{ path('estado_edit', { 'id': estado.id }) }}"class="waves-effect waves-light btn blue darken-4"><i class="material-icons left">edit</i>Editar</a>
                                    <a href="{{ path('estado_delete', { 'id': estado.id }) }}"class="waves-effect waves-light btn blue darken-4"><i class="material-icons left">delete</i>Excluir</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="navigation center">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                </div> <!-- end col s12 -->
            </div> <!-- end row -->
        </div> <!-- end container -->
        <div class="fixed-action-btn" style="bottom:45px; right:24px;">
            <a class="waves-effect waves-light btn btn-floating btn-large orange darken-1" href="{{ path('estado_new') }}">
                <i class="large material-icons">add</i>
            </a>
        </div>
{% endblock %}

