{% extends 'CamaleaoBimgoSiteBundle::base.html.twig' %}

{% block body %}
    <div class="container">
        <h2>Promoção: {{ produto.nome }}</h2>
        <div class="row">
            <div class="col s6">
                <img src="{{ getImgS3(produto.canonico, 'png', 'produto') }}" class="responsive-img">
            </div>
            <div class="col s6">
                <p><strong>Nome:</strong> {{ produto.nome }}</p>
                <p><strong>Descrição:</strong>  {{ produto.descricao }}</p>
                <p><strong>Peço:</strong> R$ {{ produto.preco|number_format(2, ',') }}</p>
                <p><strong>EAN:</strong>  {{ produto.ean }}</p>
                <p><strong>Instituição:</strong>  {{ produto.instituicao.nomeFantasia }}</p>
            </div>
        </div>
    </div>
{% endblock %}
