{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h2>Empresas</h2>
                <table>
                    <thead>
                        <tr>
                            {# sorting of properties based on query components #}
                            <th>{{ knp_pagination_sortable(pagination, 'ID', 'a.id') }}</th>
                            <th{% if pagination.isSorted('a.nomefantasia') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Nome Fantasia', 'a.nomefantasia') }}</th>
                            <th{% if pagination.isSorted('a.cnpj') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'CNPJ', 'a.cnpj') }}</th>
                            <th{% if pagination.isSorted('a.telefone') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Telefone', 'a.telefone') }}</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for empresa in pagination %}
                        <tr>
                            <td><a href="{{ path('empresa_show', { 'id': empresa.id }) }}">{{ empresa.id }}</a></td>
                            <td>{{ empresa.nomefantasia }}</td>
                            <td>{{ empresa.cnpj }}</td>
                            <td>{{ empresa.telefone }}</td>
                            <td>
                                <a href="{{ path('empresa_show', { 'id': empresa.id }) }}"class="waves-effect waves-light btn blue"><i class="material-icons left">play_arrow</i>Exibir</a>
                                <a href="{{ path('empresa_edit', { 'id': empresa.id }) }}"class="waves-effect waves-light btn blue"><i class="material-icons left">edit</i>Editar</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="navigation center">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div> <!-- end col s12 -->
        </div> <!-- end row -->
    </div> <!-- end container -->
    <div class="fixed-action-btn" style="bottom:45px; right:24px;">
        <a class="waves-effect waves-light btn btn-floating btn-large orange darken-1" href="{{ path('empresa_new') }}">
            <i class="large material-icons">add</i>
        </a>
    </div>
{% endblock %}
