{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h2>Empresa: {{ empresa.nomefantasia }}</h2>
                <table>
                    <tbody>
                        <tr>
                            <th>ID</th>
                            <td>{{ empresa.id }}</td>
                        </tr>
                        <tr>
                            <th>Razão Social</th>
                            <td>{{ empresa.razaosocial }}</td>
                        </tr>
                        <tr>
                            <th>Nome Fantasia</th>
                            <td>{{ empresa.nomefantasia }}</td>
                        </tr>
                        <tr>
                            <th>Descrição</th>
                            <td>{{ empresa.descricao }}</td>
                        </tr>
                        <tr>
                            <th>CNPJ</th>
                            <td>{{ empresa.cnpj }}</td>
                        </tr>
                        <tr>
                            <th>Inscrição Estadual</th>
                            <td>{{ empresa.inscricaoestadual }}</td>
                        </tr>
                        <tr>
                            <th>Telefone</th>
                            <td>{{ empresa.telefone }}</td>
                        </tr>
                    </tbody>
                </table>
            </div> <!-- end col s12 -->
        </div> <!-- end row -->
    </div> <!-- end container -->
    <div class="container">
        <div class="row">
            <div class="col s12">
                <a href="{{ path('empresa_index') }}"class="waves-effect waves-light btn light-blue lighten-1"><i class="material-icons left">list</i>Voltar</a>
                <a href="{{ path('empresa_edit', { 'id': empresa.id }) }}"class="waves-effect waves-light btn light-blue lighten-1"><i class="material-icons left">edit</i>Editar</a>
                {{ form_start(delete_form, { 'attr': {'class': 'display-inline'} }) }}
                    <button type="submit" class="waves-effect waves-light btn light-blue lighten-1"><i class="material-icons left">delete</i>Excluir</button>
                {{ form_end(delete_form) }}
            </div> <!-- end col s12 -->
        </div> <!-- end row -->
    </div> <!-- end container -->
{% endblock %}
