{% extends 'base.html.twig' %}

{% block body %}
    <h1>Empresa</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ empresa.id }}</td>
            </tr>
            <tr>
                <th>Razaosocial</th>
                <td>{{ empresa.razaosocial }}</td>
            </tr>
            <tr>
                <th>Nomefantasia</th>
                <td>{{ empresa.nomefantasia }}</td>
            </tr>
            <tr>
                <th>Descricao</th>
                <td>{{ empresa.descricao }}</td>
            </tr>
            <tr>
                <th>Cnpj</th>
                <td>{{ empresa.cnpj }}</td>
            </tr>
            <tr>
                <th>Inscricaoestadual</th>
                <td>{{ empresa.inscricaoestadual }}</td>
            </tr>
            <tr>
                <th>Telefone</th>
                <td>{{ empresa.telefone }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('empresa_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('empresa_edit', { 'id': empresa.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
