<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}Welcome!{% endblock %}</title>

        <!-- include material design CSS -->
        <link rel="stylesheet" href="{{ asset('bundles/camaleaowebbimgo/css/materialize.min.css') }}" />

        <!-- include material design icons -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

        <link rel="stylesheet" href="{{ asset('bundles/camaleaowebbimgo/css/style.css') }}" />
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}

        <!-- include jquery -->
        <script type="text/javascript" src="{{ asset('bundles/camaleaowebbimgo/js/jquery-1.12.1.min.js') }}"></script>

        <!-- material design js -->
        <script type="text/javascript" src="{{ asset('bundles/camaleaowebbimgo/js/materialize.min.js') }}"></script>

        <!-- include angular js -->
        <script type="text/javascript" src="{{ asset('bundles/camaleaowebbimgo/js/angular.min.js') }}"></script>

        <!-- custom js -->
        <script type="text/javascript" src="{{ asset('bundles/camaleaowebbimgo/js/script.js') }}"></script>

        {% block javascripts %}{% endblock %}
    </body>
</html>
