<META HTTP-EQUIV='Content-Type' CONTENT='text/html;charset=iso-8859-1'>
<div id='area' style='margin: 0 auto; font-family: Arial, Helvetica, sans-serif; width: 550px;'>
    <img src="{{ getImgS3('pin-150-150', 'png', 'web') }}" alt='Bim-go!' title="Bim-go!" width='150px' style="float: left"/>
    <p style='font-size: 18px; line-height: 16px; margin: 10px 10px 16px;'>
        O usuário <strong>{{ indication.nomeRemetente }}</strong> quer se comunicar!
    </p>
    <p style='font-size: 14px; line-height: 16px; margin: 10px 10px 16px;'>
        Através do Bim-go! o usuário {{ indication.nomeDestinatario }} lhe indicou a seguinte empresa:
    <ul>
        <li><strong>Nome: </strong>{{ indication.nomeInstituicao }}</li>
        <li><strong>Mensagem: </strong>{{ indication.mensagem }}</li>
    </ul>
    <p style='font-size: 14px; line-height: 16px; margin: 10px 10px 16px;'>
        A resposta deste e-mail será destinada ao usuário.
    </p>
    </p>
    <p style='font-size: 14px; line-height: 16px; margin: 10px 10px 16px;'>
        O Bim-go! oferece muitas vantagens para você!<br>
        Caso não tenha nosso aplicativo no seu celular, baixe agora para Android!<br>
    </p>
</div>