{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cidade list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cidade in cidades %}
            <tr>
                <td><a href="{{ path('cidade_show', { 'id': cidade.id }) }}">{{ cidade.id }}</a></td>
                <td>{{ cidade.nome }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('cidade_show', { 'id': cidade.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('cidade_edit', { 'id': cidade.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cidade_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
