{% extends 'base.html.twig' %}

{% block body %}
    <h1>Papel list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Descricao</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for papel in papels %}
            <tr>
                <td><a href="{{ path('papel_show', { 'id': papel.id }) }}">{{ papel.id }}</a></td>
                <td>{{ papel.nome }}</td>
                <td>{{ papel.descricao }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('papel_show', { 'id': papel.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('papel_edit', { 'id': papel.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('papel_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
