{% extends 'base.html.twig' %}

{% block body %}
    <h1>Notificacao list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Mensagem</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for notificacao in notificacaos %}
            <tr>
                <td><a href="{{ path('notificacao_show', { 'id': notificacao.id }) }}">{{ notificacao.id }}</a></td>
                <td>{{ notificacao.mensagem }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('notificacao_show', { 'id': notificacao.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('notificacao_edit', { 'id': notificacao.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('notificacao_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
