<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}Bim-go! Ao seu alcance{% endblock %}</title>

        <!-- include material design CSS -->
        <link rel="stylesheet" href="{{ asset('bundles/camaleaowebbimgo/css/materialize.min.css') }}" />

        <!-- include font-awesome CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

        <!-- include material design icons -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

        <link href="{{ asset('bundles/camaleaowebbimgo/css/style.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="https://s3.amazonaws.com/bim-go/favicon.ico" />
    </head>
    <body>
        <header>
            <nav class="blue-grey lighten-5" role="navigation">
                <div class="nav-wrapper container">
                    <a href="{{ path('site_inicial_index') }}" id="logo-container" class="logo-containerbrand-logo">
                        <img src="https://s3.amazonaws.com/bim-go/logo-slogan-188-60.png" title="Bim-go!" style="vertical-align:middle"/>
                    </a>
                    <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
                    {% set menu = knp_menu_get('CamaleaoBimgoSiteBundle:MenuBuilder:mainMenu', [], {'id':'nav-mobile', 'class': 'right hide-on-med-and-down'}) %}
                    {{ knp_menu_render(menu, {'currentClass': 'active', 'template': 'CamaleaoBimgoSiteBundle:menu:knp_menu.html.twig'}) }}
                    {% set menuSide = knp_menu_get('CamaleaoBimgoSiteBundle:MenuBuilder:mainMenu', [], {'id': 'slide-out', 'class': 'side-nav'}) %}
                    {{ knp_menu_render(menuSide, {'currentClass': 'active', 'template': 'CamaleaoBimgoSiteBundle:menu:knp_menu.html.twig'}) }}
                </div>
            </nav>
        </header>

        {% block body %}{% endblock %}

        <footer class="page-footer blue-grey darken-3">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">Bim-go!</h5>
                        <p class="grey-text text-lighten-4">
                            O Bim-go! permite aos usuários acompanhar promoções, localizar empresas, conhecer os produtos disponíveis e entrar em contato de forma rápida, fácil e segura. Basta acessar o site ou instalar o aplicativo em seu dispotivo móvel, você poderá optar por ser notificado a cada nova promoção cadastrada e nunca perder as melhores ofertas da sua região.
                        </p>
                    </div>
                    <div class="col l3 s12">
                        {{ render(controller('CamaleaoBimgoSiteBundle:Instituicao:recentList', { 'max': 4 } )) }}
                    </div>
                    <div class="col l3 s12">
                        <h5 class="white-text">Social</h5>
                        <ul>
                            <li>
                                <a class="white-text" href="#">
                                    <i class="small fa fa-behance-square white-text"></i> Behance
                                </a>
                            </li>
                            <li>
                                <a class="white-text" href="">
                                    <i class="small fa fa-facebook-square white-text"></i> Facebook
                                </a>
                            </li>
                            <li>
                                <a class="white-text" href="">
                                    <i class="small fa fa-github-square white-text"></i> Github
                                </a>
                            </li>
                            <li>
                                <a class="white-text" href="">
                                    <i class="small fa fa-linkedin-square white-text"></i> Linkedin
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    <a class="grey-text text-lighten-4 right" href="#!">© 2016 Camaleão Feroz</a>
                </div>
            </div>
        </footer>

        <!-- include jquery -->
        <script type="text/javascript" src="{{ asset('bundles/camaleaobimgocore/js/jquery-1.12.1.min.js') }}"></script>

        <!-- material design js -->
        <script type="text/javascript" src="{{ asset('bundles/camaleaobimgocore/js/materialize.min.js') }}"></script>

        <!-- owner js -->
        <script type="text/javascript" src="{{ asset('bundles/camaleaobimgocore/js/script.js') }}"></script>

        {% block javascripts %}{% endblock %}
    </body>
</html>
