{% extends 'base.html.twig' %}

{% block body %}
    <h1>Grupoempresas list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Descricao</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for grupoempresa in grupoempresas %}
            <tr>
                <td><a href="{{ path('grupoempresas_show', { 'id': grupoempresa.id }) }}">{{ grupoempresa.id }}</a></td>
                <td>{{ grupoempresa.nome }}</td>
                <td>{{ grupoempresa.descricao }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('grupoempresas_show', { 'id': grupoempresa.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('grupoempresas_edit', { 'id': grupoempresa.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('grupoempresas_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
