{% extends 'base.html.twig' %}

{% block body %}
    <div class="section no-pad-bot">
        <div id="mapa" class="col s12 m12" style="height: 500px; margin: -10px 0;"></div>
    </div>
    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center blue-text"><i class="medium material-icons">search</i></h2>
                        <h5 class="center">Encontre empresas</h5>
                        <p class="light">
                            Utilize a ferramenta de busca para encontrar empresas da região.
                        </p>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center blue-text"><i class="medium material-icons">place</i></h2>
                        <h5 class="center">Descubra sua localização</h5>
                        <p class="light">
                            Descubra onde está localizada a empresa que você procura.
                        </p>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center blue-text"><i class="medium material-icons">star</i></h2>
                        <h5 class="center">Acompanhe promoções</h5>
                        <p class="light">
                            Siga uma empresa para receber promoções exclusivas.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if empresas %}
    <div class="section no-pad-bot blue-grey lighten-5">
        <div class="container">
            <div class="row">
                {% for empresa in empresas %}
                    <div class="col s12 m3">
                        <h5 class="center blue-grey-text darken-4">{{ empresa.nomefantasia }}</h5>
                        <p class="light center blue-grey-text darken-4">{{ empresa.descricao }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
    {% if promocoes %}
    <div class="container">
        <div class="section">
            <div class="row">
                {% for promocao in promocoes %}
                <div class="col s12 m3">
                        <h5 class="center">{{ promocao.nome }}</h5>
                        <p class="light center">{{ promocao.descricao }}</p>
                        <span class="right">{{ promocao.empresa.nomefantasia }}</span>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}

{% endblock %}

{% block javascripts %}
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="{{ asset('bundles/camaleaowebbimgo/js/mapa.js') }}"></script>
{% endblock %}
