{% extends 'base.html.twig' %}

{% block body %}
    <h1>Endereco</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ endereco.id }}</td>
            </tr>
            <tr>
                <th>Logradouro</th>
                <td>{{ endereco.logradouro }}</td>
            </tr>
            <tr>
                <th>Numero</th>
                <td>{{ endereco.numero }}</td>
            </tr>
            <tr>
                <th>Complemento</th>
                <td>{{ endereco.complemento }}</td>
            </tr>
            <tr>
                <th>Bairro</th>
                <td>{{ endereco.bairro }}</td>
            </tr>
            <tr>
                <th>Cep</th>
                <td>{{ endereco.cep }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('endereco_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('endereco_edit', { 'id': endereco.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
