{% extends 'CamaleaoBimgoSiteBundle::base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="section">
            <div class="row">
                <form method="get">
                    <div class="input-field">
                        <input id="search" name="search" type="search" value="{{ app.request.get('search') }}">
                        <label for="search"><i class="material-icons">search</i></label>
                        <i class="material-icons">close</i>
                    </div>
                </form>
            </div>
            <div class="row">
                {% for instituicao in pagination %}
                <div class="card col s12 m4" style="height: 350px">
                    <div class="icon-block">
                        <div class="col s6">
                            <h3>
                                <a href="{{ path('site_instituicao_show', { 'id': instituicao.id }) }}">
                                    <img src="{{ logotipo(instituicao.id, instituicao.nomefantasia) }}" class="responsive-img">
                                </a>
                            </h3>
                        </div>
                        <div class="col s6">
                            <h5 class="center"><a href="" class="black-text">{{ instituicao.nomefantasia }}</a></h5>
                        </div>
                        <div class="col s12">
                            <p><a href="" class="black-text">{{ instituicao.descricao }}</a></p>
                        </div>
                        <div class="center-align col s12 card-action">
                            <a href="#"><i class="small fa fa-phone grey-text text-darken-3"></i></a>
                            <a href="#"><i class="small fa fa-envelope grey-text text-darken-3"></i></a>
                            <a href="#"><i class="small fa fa-map-marker grey-text text-darken-3"></i></a>
                            <a href="#"><i class="small fa fa-star-o grey-text text-darken-3"></i></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="navigation center">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}