{% extends 'CamaleaoBimgoSiteBundle::base.html.twig' %}

{% block body %}
    <div class="container">
        <h2>{{ instituicao.nomefantasia }}</h2>
        <div class="row">
            <div class="col s2">
                <img src="{{ logotipo(instituicao.id, instituicao.nomefantasia) }}" class="responsive-img">
            </div>
            <div class="col s10">
                <div class="col s4">
                    <p><strong>Razão Social:</strong> {{ instituicao.razaosocial }}</p>
                    <p><strong>Nome Fantasial:</strong>  {{ instituicao.nomefantasia }}</p>
                    <p><strong>Descrição:</strong>  {{ instituicao.descricao }}</p>
                    <p><strong>CNPJ:</strong>  {{ instituicao.cnpj }}</p>
                    <p><strong>Inscrição Estaduall:</strong>  {{ instituicao.inscricaoestadual }}</p>
                </div>
                <div class="col s4">
                {% for contato in instituicao.contato %}
                    <p><strong>{{ contato.contatoTipo.nome }}:</strong> {{ contato.contato }}</p>
                {% endfor %}
                </div>
                {% if instituicao.segmento|length > 0  %}
                <div class="col s4">
                    <ul class="display-inline">
                    {% for segmento in instituicao.segmento %}
                        <li>{{ segmento.nome }}</li>
                    {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="row">
            {{ instituicao.endereco.logradouro }}
            {{ instituicao.endereco.numero }}
            {{ instituicao.endereco.bairro }}
            {{ instituicao.endereco.latitude }}
            {{ instituicao.endereco.longitude }}
            {{ instituicao.endereco.cidade.nome }}
            {{ instituicao.endereco.cidade.estado.nome }}
        </div>
        <div class="row">
            <div id="mapa" class="col s12 m12" style="height: 500px; margin: -10px 0;"></div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBi3pBExnVG5i49pC4arKt5_vHCQp79Wl0"></script>
    <script type="text/javascript" src="{{ asset('bundles/camaleaobimgocore/js/infobox.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/camaleaobimgocore/js/mapaInstituicao.js') }}"></script>
    <script>
        initialize({{ instituicaoJson|raw }});
    </script>
{% endblock %}
