{% extends 'CamaleaoBimgoSiteBundle::base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="section">
            <div class="row">
                <form method="get">
                    <div class="input-field">
                        <input id="search" name="search" type="search" value="{{ app.request.get('search') }}">
                        <label for="search"><i class="material-icons">search</i></label>
                        <i class="material-icons">close</i>
                    </div>
                </form>
            </div>
            <div class="row">
                {% for promocao in pagination %}
                <div class="card col s12 m4" style="height: 250px">
                    <div class="icon-block">
                        <h3 class="center">
                            <a href="{{ path('site_promocao_show', { 'id': promocao.id }) }}">
                                {% set logo = 'bundles/camaleaowebbimgo/img/promocao/' ~ promocao.id ~ '.png' %}
                                {% if file_exists(logo) %}
                                    <img src="{{ asset(logo) }}" class="responsive-img">
                                {% else %}
                                    <img src="{{ asset('bundles/camaleaowebbimgo/img/default.png') }}" class="responsive-img">
                                {% endif %}
                            </a>
                        </h3>
                        <h5 class="center"><a href="" class="black-text">{{ promocao.nome }}</a></h5>
                        <p><a href="" class="black-text">{{ promocao.descricao }}</a></p>
                    </div>
                </div>
                {% endfor %}
                <div class="navigation center">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
